@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* 'Red Hat Display' */

html{
    height:100%
}

body{
    min-height: 100%;
    background: url("images/pattern-background-desktop.svg") no-repeat, hsl(225, 100%, 94%);
    background-size:contain;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 16px;
}

.main_card{
    width: 350px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    box-shadow: 0px 5px 40px hsl(224, 23%, 55%);
    margin-bottom: 20px;
}

.top_image img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.main_content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.order_summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:60px;
    margin-right: 60px;
}

.order_summary h1{
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 0px;
}

.order_summary p{
    text-align: center;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.price{
    display: flex;
    background-color: rgba(224,232,255, 0.4);
    border-radius: 10px;
    width: 80%;
    height: 4rem;
    position:relative;
}

.price img{
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 20px;
}

.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.plan h2, .plan p{
    margin:0;
}

.plan p{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.price a{
    align-self: center;
}

.plan h2{
    font-size: 1em;
    font-weight: 700;
}

.price a{
    position: absolute;
    right: 20px;
    color:hsl(245, 75%, 52%);
    font-weight: 700;
}

.button_proceed{
    background-color: hsl(245, 75%, 52%);
    width: 80%;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 10px 15px 80px hsl(224, 23%, 55%);
    margin-top: 1.5em;
}

.button_proceed a{
    color:hsl(225, 100%, 98%);
    text-decoration: none;
    font-weight: 700;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_cancel{
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.button_cancel a{
    text-decoration: none;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

/* Hover */

.price a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.button_proceed:hover{
    opacity: 0.7;
    box-shadow: 10px 15px 80px hsl(224, 23%, 55%);
}

.button_cancel a:hover{
    color: hsl(0,100%,0%);
}